# .gitignore
private_face_behaviors.py
private_words_behaviors.py
speech_variations.py
raven_sounds/
Maestro/
Face Recognition/
maestro.py
__pycache__/
speech_recognition/
sound_recordings/
models/
test_new_samuel_audio_speech_mp3/
speech_variants.json
